:root {
    /* TyeBased16 (Dracula Inspired) */
    /** Background: rgb(10, 2, 22) */
    --base00: #0A0216;
    /** Window: rgb(25, 26, 33) */
    --base01: #191a21;
    /** Sidebar: rgb(33, 34, 44) */
    --base02: #21222C;
    /** Editor: rgb(40, 42, 53) */
    --base03: #282a35;
    /** Highlight: rgb(51, 53, 63) */
    --base04: #33353F;
    /** Selected: rgb(68, 71, 90) */
    --base05: #44475A;
    /** Interact: rgb(101, 112, 162) */
    --base06: #6570a2;
    /** Text: rgb(245, 245, 250) */
    --base07: #F5F5FA;
    /** Red */
    --base08: #F54456;
    /** Orange */
    --base09: #FC7022;
    /** Yellow */
    --base0A: #D6CD00;
    /** Green */
    --base0B: #91E827;
    /** Cyan */
    --base0C: #00C580;
    /** Blue */
    --base0D: #305DFB;
    /** Purple */
    --base0E: #7635DE;
    /** Pink */
    --base0F: #F98FD1;
}
