:root {
    --tab-size: 48px;
}

#tabbar {
    background: var(--theme-colors-toolbar);
    scrollbar-width: none;
}

#tabbar:not(:hover) tab-label {
    visibility: collapse;
}

tab-item tab-item-substance {
    height: var(--tab-size);
}

tab-item tab-item-substance:hover {
    box-shadow: 2px 0px 0px 0px rgba(101, 112, 162, 1) inset;
    opacity: 1;
}

tab-item.active tab-item-substance {
    background: rgb(33, 34, 44);
    box-shadow: 4px 0px 0px 0px rgba(245, 245, 250, 1) inset;
}

tab-item.active tab-twisty,
tab-item.active .label-content,
tab-item.active tab-counter {
    color: var(--theme-colors-toolbar_text);
}

tab-item.discarded tab-item-substance {
    color: #6570a2;
}

/* Pinned tabs: */
tab-item.pinned {
    height: var(--tab-size);
}

tab-item tab-label {
    background: var(--theme-colors-toolbar_field);
    color: var(--theme-colors-toolbar_text);
    text-align: center;
    text-anchor: center;
    padding: .5em;
    padding-bottom: .9em;
    margin-left: calc(var(--tab-size)/2);
    border-radius: 6px;
}

/* Show dot on unread tabs */
tab-item.unread .favicon::after {
    content: '\25CF';
    color: #FFF;
    z-index: var(--favicon-base-z-index);
    position: absolute;
    font-size: 1em;
    bottom: -0.35em;
    right: -0.2em;
}

/* Add private browsing indicator per tab */
tab-item.private-browsing .favicon::after {
    content: "🕶";
    color: #fff;
    z-index: var(--favicon-base-z-index);
    position: absolute;
    font-size: 0.5em;
    bottom: -0.35em;
    right: -0.2em;
}

/* Adjust style for tab that has sound playing. */
tab-item.sound-playing .favicon::after,
tab-item.muted .favicon::after {
    content: '🔊';
    color: #fff;
    z-index: var(--favicon-base-z-index);
    position: absolute;
    font-size: 0.5em;
    bottom: -0.35em;
    right: -0.7em;
}

/* Adjust style for tab that is muted. */
tab-item.muted .favicon::after {
    content: '🔇';
}

/* Hide sound playing/muted button. */
tab-item .sound-button {
    margin-left: 0;
    display: inline-block;
    visibility: collapse;
}

tab-item.audible:hover .sound-button {
    visibility: visible;
    margin-left: 0.25em;
}

#tabbar tab-item tab-item-substance:not(:hover) tab-closebox {
    display: none;
}

#tabbar:not(:hover) .newtab-button {
    display: none;
    width: var(--tab-size);
}
