:root {
    font-family: Roboto;
    font-size: 14;
    --tab-size: 48px;
    --sidebar-size: 350px;
}

#titlebar {
    visibility: collapse;
}

#TabsToolbar-customization-target {
    visibility: collapse;
}

#nav-bar {
    height: 33px;
}

#nav-bar::before,
#nav-bar::after {
    content: "";
    display: -moz-box;
    width: 0px;
}

tooltip {
    -moz-appearance: none !important;
    color: #F5F5FA !important;
    border-color: #6570a2 !important;
}

#window {
    border: none;
}

/* Hide scrollbars */
#content browser {
    margin-right: -14px !important;
    overflow-y: scroll;
    overflow-x: hidden;
}

#sidebar {
    max-width: none;
    min-width: var(--tab-size);
    border: none;
}

#sidebar-box:not([sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]) {
    min-width: var(--sidebar-size) !important;
    max-width: none;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
    position: relative;
    transition: all 200ms;
    border: none;
    max-width: var(--tab-size) !important;
    min-width: var(--tab-size) !important;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover {
    transition: all 200ms;
    max-width: fit-content !important;
    /* var(--sidebar-size) !important;*/
    min-width: var(--sidebar-size) !important;
    margin-right: calc((var(--sidebar-size) - var(--tab-size)) * -1);
    z-index: 1;
}

#sidebar-box:not([sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]) {
    min-width: var(--sidebar-size) !important;
    max-width: none;
}

/* Hide splitter, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]+#sidebar-splitter {
    display: none;
}

/* Hide sidebar header, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
    visibility: collapse;
}
